#AddDefaultCharset UTF-8
#DirectoryIndex index.php index.html
#

RewriteEngine on

RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$|test\.php$
    RewriteRule ^(.*)$ $1 [L,QSA]

RewriteCond %{REQUIEST_FILENAME} !-f
RewriteCond %{REQUIEST_FILENAME} !-d

RewriteRule . index.php
